{% extends "__content.twig" %}

{% block content %}
<section class = "addnew" style="border: solid; border-radius: 2rem; margin-top: 15px; padding: 15px;">
    <form action="" method="POST" enctype="multipart/form-data" class="row g-3">
        <div class="col-3">
            <label class="form-label">Название продукта</label>
            <input type="text" class="form-control" name="product_name" value="{{objects[0]}}">
        </div>
        <div class="col-3">
            <label class="form-label">Цена</label>
            <input class="form-control" type="text" name="price" value="{{objects[1]}}">
        </div>
        
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>
</section>
{% endblock %}